<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin-top: 25px;">
  <h1>
    Login Criptográfico
  </h1>
</div>
<h5 class="text-center">Aqui vamos mostrar os passos de um login encriptado</h5>

<hr>
<div class="row justify-content-center jumbotron">
  <div class="col-6">
    
    <app-login *ngIf="form == 'login'" (changeForm)="toggleForms($event)"></app-login>
    <app-signup *ngIf="form == 'signup'" (changeForm)="toggleForms($event)"></app-signup>
    
  </div>
</div>


